
<div class="form-group">
<%= f.label :title, "事件標題" %>
<%= f.text_field :title %>
</div>
<div class="form-group">
<%= f.label :content, "事件內容" %>
  <%= f.text_area :content %>
</div>
<div class="form-group">
  請選擇分類 ： <%= f.collection_select(:category_id, Category.all, :id, :name) %>
</div>
<div class="form-group">
<%= f.submit  %>
</div>