<% if @event.errors.any? %>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
<table class="table table-striped">
  <thead>
    <th>事件標題</th>
    <th>事件內容</th>
    <th>請選擇分類</th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td><%= f.text_field :title %></td>
      <td><%= f.text_area :content %></td>
      <td><%= f.collection_select(:category_id, Category.all, :id, :name) %></td>
      <td><%= f.submit %></td>
    </tr>
  </tbody>
</table>
